[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  co = checkout
  ci = commit
  st = status
  br = branch
  type = cat-file -t
  dump = cat-file -p
[core]
	excludesfile = /Users/alekseypanchenko/dev/dot-files/.gitignore_global
[user]
	name = gtament
	email = denis.braslavskiy@do-it.co
	username = denis.braslavskiy
