snippet imf "import from" b
import ${2:\{ $0 \}} from '$1'
endsnippet

snippet imfa "import * as from" b
import * as $0 from '$1'
endsnippet

snippet cl "console.log"
console.log($0)
endsnippet

snippet doc "js doc" b
/**
 * $0
 */
endsnippet

snippet pr "public readonly" b
public readonly $1: $0;
endsnippet
